# -*- coding: utf-8 -*-

# Set it to True for DEV machines
#IS_DEVELOPMENT_MACHINE = True

# Set it to True for DEV machines
#CORS_ORIGIN_ALLOW_ALL = True

# Use this (modified as needed) if assets (ie: static, media, etc.) 
# are NOT inside the project directories structure
#import os
#MNT_PATH = os.path.abspath(os.path.join(PROJECT_PATH, '..', '..', '..', 'mnt', 'XXXX'))

#Do not require HTTPS for cookies only for DEV machines or while server is not under HTTPS, yet!!!
#SESSION_COOKIE_SECURE = False
#CSRF_COOKIE_SECURE = False

#####################################################
# Add here any additional or override settings needed
#####################################################
